@tailwind base;
@tailwind components;
@tailwind utilities;

.super {
  background: linear-gradient(
      90.26deg,
      #ffffff 0.22%,
      #da99a9 0.23%,
      #cf93af 9.67%,
      rgba(103, 88, 230, 0.990462) 101.25%,
      rgba(255, 255, 255, 0.54) 101.26%
    ),
    #583737;
  background-clip: text;
  color: transparent;
}
.superdes {
  background: linear-gradient(91.45deg, #8bd1d2 1.54%, #e07ff9 118.27%);
  background-clip: text;
  color: transparent;
}
/* .bgTexture {
  background-image: url("/Texture.png");
}
.bglanding {
  background-image: url("/gradient1.png");
  width: 100%;
  background-size: cover;
  height: 100vh;
} */

.bgLanding {
  background-image: url("/landing.png");
  width: 100%;
  background-size: cover;
  height: 100vh;
}
.bgForm {
  background-image: url("/Form.png");
  width: 100%;
  background-size: cover;
  background-repeat: repeat-y;
  height: max-content;
}
.wallet-adapter-button-trigger {
  background: linear-gradient(
    189.84deg,
    #534bb2 7.39%,
    #551ef5 77.27%
  ) !important;
  width: 20rem !important;
  display: flex;
  justify-content: center;
}
.wallet-adapter-button {
  border-radius: 2rem !important;
}
.formborder {
  /* border-image-source: linear-gradient(
    130.18deg,
    #8bd1d2 0%,
    #e07ff9 100%
  ) !important; */

  border: 2px solid white;
}
